.loading-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: grid;
  justify-content: center;
  .content {
    // margin: auto;
    margin-top: 20vh;
    max-height: 30vh;
    min-width: 20vw;
    // justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    text-transform: uppercase;
    color: #f1f1f1;
    // justify-content: center;
    place-items: center;
    // background-color: green;
  }
  h4 {
    padding-top: 2rem;
  }
}
